<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>popup-edit-bookings</title>
</head>
<body>

  <div class="row">

    <label>Edit table number  :
    </label>

    <p>Table N : </p>
      <input type="number" >

      <p>Seat number : </p>
      <input type="number" >
      <br>
      <br>
      <button mat-raised-button color="primary" id="bokings">Update table</button>

    </div>

</body>
</html>
